.list {
    background-color: rgba(153, 170, 239, 0.721);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 255, 0);
}

.item:last-child {
    margin-bottom: 0px;
}